body {
    background-color: gray;
    font-family: "Inter", sans-serif;
}

.container {
    width: 430px;
    height: 932px;
    background-color: #F9F5F4;
    margin: auto;
}

.todo {
    
}

.todo h2 {

}


